table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  border: 2px solid #dddddd;
  box-shadow: 1px 1px 0px #999,
  2px 2px 0px #999,
  3px 3px 0px #999,
  4px 4px 0px #999,
  5px 5px 0px #999,
  6px 6px 0px #999;
  margin: 0 2em;
  border-radius: 5px;
}

td {
  border: 1px solid #ffffff;
  text-align: left;
  padding: 8px!important;
  height: 1.5em;
  min-width: 12vw;
  max-height: 2em!important;
}

th {
  border: 1px solid #a7a7a7;
  text-align: left;
  padding: 8px!important;
  height: 1.5em;
  max-height: 2em!important;
}

tr:nth-child(odd) {
  background-color: #dddddd;

}

.td-active{
  background-color: red!important;
}

.btn{
  background-color: rgb(175, 0, 0);
  padding: 10px 20px;
  border-radius: 1px;
  border: none;
  color:white;
  cursor: pointer;
  margin: 0 1em;
  box-shadow: 1px 1px 0px rgb(100, 0, 0),
              2px 2px 0px rgb(100, 0, 0),
              3px 3px 0px rgb(100, 0, 0);
}


.container{
  padding: 2em;
  overflow-x: hidden;
}

.mat-cell,
.mat-header-cell {
word-wrap: initial;
display: table-cell;
padding: 0px 10px;
line-break: unset;
width: 100%;
white-space: nowrap;
overflow: hidden;
vertical-align: middle;
}
.mat-row,
.mat-header-row {
display: table-row;
}

tbody{
  overflow-x: scroll!important;
}

input{
  outline: none!important;
  border:none;
  background-color: transparent;
  border-bottom: 1px solid #a7a7a7;
  padding: 1em;
  
  /* 3D effect */
  box-shadow: 1px 1px 0px #999,
              2px 2px 0px #999,
              3px 3px 0px #999,;
  border-radius: 5px;


}