<section>
    <header>
        <div class="btns">
            <button class="btn btn-col">Save</button>
            <button class="btn btn-col">Cancel</button>
            <button class="btn btn-col">Next</button>
        </div>
    </header>
</section>
<section>
    <main>

        <!-- Side Column Container -->

        <div class="side-col">

            <!-- Tree Grid ej2 library by syncfusion -->

            <ejs-treegrid idMapping="nameId" parentIdMapping="parentId"[treeColumnIndex]="1" [dataSource]="data" childMapping="subtasks" [allowPaging]="true" [pageSettings]="pageSettings" [allowFiltering]="true" [allowSorting]="true" [sortSettings]="sortSettings">
                <e-columns>
                    <e-column
                    field="nameId"
                    headerText="Id"
                    width="5"
                    textAlign="Left"
                    ></e-column>
                    <e-column
                    field="treeView"
                    headerText="Tree view"
                    width="130"
                    textAlign="Left"
                    ></e-column>
                </e-columns>
            </ejs-treegrid>
        </div>

        <!-- Main column Section -->

        <div class="main-col">

            <!-- Upper main column container -->

            <div class="upper-main-col">

                <!-- Inputs Column 1 -->
                
                <div class="desc-col-1">
                    <div class="input-control">
                        <label for="view">Industry</label>
                        <select name="view" id="view">
                            <option value="blank">        
                            </option>
                            <option value="Industry">
                                <label class="check" for="industry">Industry</label>
                            </option>
                            <option value="Segment">
                                <label class="check" for="segment">Segment</label>
                            </option>
                        </select>
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project Name</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project Description</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                    <label for="view">Region</label>
                    <select name="view" id="region" [(ngModel)]="regionSelected" (change)='regionChange()'>
                        <option *ngFor="let region of regions" >
                            {{region.region}}
                        </option>
                    </select>
                </div>
                    <div class="input-control">
                    <label for="view">Exchange rate library</label>
                    <select name="view" id="view">
                        <option value="blank">        
                        </option>
                        <option value="Industry">
                            <label class="check" for="industry">Industry</label>
                        </option>
                        <option value="Segment">
                            <label class="check" for="segment">Segment</label>
                        </option>
                    </select>
                </div>
                    
                </div>

                <!-- Inputs Column 2 -->

                <div class="desc-col-2">
                    <div class="input-control">
                        <label for="view">Segment</label>
                        <select name="view" id="view">
                            <option value="blank">        
                            </option>
                            <option value="Industry">
                                <label class="check" for="industry">Industry</label>
                            </option>
                            <option value="Segment">
                                <label class="check" for="segment">Segment</label>
                            </option>
                        </select>
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project code</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Start Date</label>
                        <input type="date">
                    </div>
                    <div class="input-control">
                    <label for="view">Country</label>
                    <select name="view" [(ngModel)]="countrySelected">

                        <option value="blank">        
                        </option>
                        <option matNativeControl *ngFor="let country of countries" value="{{country}}">
                            <label class="check" for="industry">{{country}}</label>
                        </option>
        
                    </select>
                </div>
                    
                </div>

                <!-- Inputs Column 3 -->

                <div class="desc-col-3">
                    <br>
                    <br>
                    <div class="input-control">
                        <label for="cost-code">Project Cost Code</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">End Date</label>
                        <input type="date">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Location</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <span>Currency</span>

            <!-- Main lower column container -->

            <div class="lower-main-col">

                <!-- Currency tables Container -->

                <div class="mini-tables-container">

                    <!-- Constant Currency table -->

                    <table>
                        <tr><th>Repository</th></tr>
                        <tr><td>USD – United States Dollar
                        </td></tr>
                        <tr><td>GBP – Great Britain Pound
                        </td></tr>
                        <tr><td>CAD – Canadian Dollar
                        </td></tr>
                        <tr><td>EUR – Euro
                        </td></tr>
                        <tr><td>INR – Indian Rupee
                        </td></tr>
                        <tr><td>SGD – Singapore Dollar
                        </td></tr>
                    </table>

                    <!-- Shifting Currency Arrows -->

                    <div class="arrows-container">
                        <mat-icon class="mat-icon" [ngStyle]="{'color':'red'}" aria-hidden="false" aria-label="Add Currency icon" fontIcon="arrow_forward"></mat-icon>
                        <mat-icon class="mat-icon" [ngStyle]="{'color':'red'}" aria-hidden="false" aria-label="Remove Currency icon" fontIcon="arrow_back"></mat-icon>
                    </div>

                    <!-- Input currency table -->

                    <table>
                        <tr><th>Selection</th></tr>
                        <tr><td>USD – United States Dollar
                        </td></tr>
                        <tr><td>GBP – Great Britain Pound
                        </td></tr>
                        <tr><td>CAD – Canadian Dollar
                        </td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </table>
                </div>
                

                <!-- Edge Column contain with products table -->

                <div class="edge-col-container">
                    <div class="btns ml">
                        <span>Products</span>
                        <button class="btn btn-col">Add Products</button>
                        <button class="btn btn-col">Delete Products</button>
                    </div>
                    <table style="margin-top: 2em;">
                        <tr>
                            <th>Product Name</th>
                            <th>Product Type</th>
                        </tr>
                        <tr>
                            <td>Project1LightOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="oil">
                                            <label class="check" for="oil">oil</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Project2HeavyOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="natural">
                                            <label class="check" for="natural">Natural gas</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Project1LightOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="oil">
                                            <label class="check" for="oil">oil</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="edge-baseline">
                        <span class="ml">Revenue scenario</span>
                        <div class="input-control ml">
                            <select name="view">
                                <option value="oil">
                                    <label class="check" for="oil">oil</label>
                                </option>
                                <option value="Segment">
                                    <label class="check" for="segment">Segment</label>
                                </option>
                            </select>
                        </div>
                        <button class="btn">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>