<section>
    <header>
        <div class="btns">
            <button class="btn btn-col">Save</button>
            <button class="btn btn-col">Cancel</button>
            <button class="btn btn-col">Next</button>
        </div>
    </header>
</section>
<section>
    <main>
        <div class="side-col">
            <div class="input-control">
                <label for="view">Tree View</label>
                <select name="view" id="view">
                    <option value="blank">        
                    </option>
                    <option value="Industry">
                        <label class="check" for="industry">Industry</label>
                    </option>
                    <option value="Segment">
                        <label class="check" for="segment">Segment</label>
                    </option>
                </select>
            </div>
            <table>
                <tr><td>Asset breaks</td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
                <tr><td></td></tr>
            </table>
        </div>
        <div class="main-col">
            <div class="upper-main-col">
                <div class="desc-col-1">
                    <div class="input-control">
                        <label for="view">Industry</label>
                        <select name="view" id="view">
                            <option value="blank">        
                            </option>
                            <option value="Industry">
                                <label class="check" for="industry">Industry</label>
                            </option>
                            <option value="Segment">
                                <label class="check" for="segment">Segment</label>
                            </option>
                        </select>
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project Name</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project Description</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                    <label for="view">Region</label>
                    <select name="view" id="view">
                        <option value="blank">        
                        </option>
                        <option value="Industry">
                            <label class="check" for="industry">Industry</label>
                        </option>
                        <option value="Segment">
                            <label class="check" for="segment">Segment</label>
                        </option>
                    </select>
                </div>
                    <div class="input-control">
                    <label for="view">Exchange rate library</label>
                    <select name="view" id="view">
                        <option value="blank">        
                        </option>
                        <option value="Industry">
                            <label class="check" for="industry">Industry</label>
                        </option>
                        <option value="Segment">
                            <label class="check" for="segment">Segment</label>
                        </option>
                    </select>
                </div>
                    
                </div>
                <div class="desc-col-2">
                    <div class="input-control">
                        <label for="view">Segment</label>
                        <select name="view" id="view">
                            <option value="blank">        
                            </option>
                            <option value="Industry">
                                <label class="check" for="industry">Industry</label>
                            </option>
                            <option value="Segment">
                                <label class="check" for="segment">Segment</label>
                            </option>
                        </select>
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Project code</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Start Date</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                    <label for="view">Country</label>
                    <select name="view" id="view">
                        <option value="blank">        
                        </option>
                        <option value="Industry">
                            <label class="check" for="industry">Industry</label>
                        </option>
                        <option value="Segment">
                            <label class="check" for="segment">Segment</label>
                        </option>
                    </select>
                </div>
                    
                </div>
                <div class="desc-col-3">
                    <br>
                    <br>
                    <div class="input-control">
                        <label for="cost-code">Project Cost Code</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">End Date</label>
                        <input type="text">
                    </div>
                    <div class="input-control">
                        <label for="cost-code">Location</label>
                        <input type="text">
                    </div>
                </div>
            </div>
            <span>Currency</span>
            <div class="lower-main-col">
                <div class="mini-tables-container">
                    <table>
                        <tr><th>Repository</th></tr>
                        <tr><td>USD – United States Dollar
                        </td></tr>
                        <tr><td>GBP – Great Britain Pound
                        </td></tr>
                        <tr><td>CAD – Canadian Dollar
                        </td></tr>
                        <tr><td>EUR – Euro
                        </td></tr>
                        <tr><td>INR – Indian Rupee
                        </td></tr>
                        <tr><td>SGD – Singapore Dollar
                        </td></tr>
                    </table>
                    <table>
                        <tr><th>Selection</th></tr>
                        <tr><td>USD – United States Dollar
                        </td></tr>
                        <tr><td>GBP – Great Britain Pound
                        </td></tr>
                        <tr><td>CAD – Canadian Dollar
                        </td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                        <tr><td></td></tr>
                    </table>
                </div>
                <div class="edge-col-container">
                    <div class="btns ml">
                        <span>Products</span>
                        <button class="btn btn-col">Add Products</button>
                        <button class="btn btn-col">Delete Products</button>
                    </div>
                    <table style="margin-top: 2em; margin-left: 3em;">
                        <tr>
                            <th>Product Name</th>
                            <th>Product Type</th>
                        </tr>
                        <tr>
                            <td>Project1LightOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="oil">
                                            <label class="check" for="oil">oil</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Project2HeavyOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="natural">
                                            <label class="check" for="natural">Natural gas</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Project1LightOil</td>
                            <td>
                                <div class="input-control">
                                    <select name="view" style="border: none;outline: none;">
                                        <option value="oil">
                                            <label class="check" for="oil">oil</label>
                                        </option>
                                        <option value="Segment">
                                            <label class="check" for="segment">Segment</label>
                                        </option>
                                    </select>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="edge-baseline">
                        <span class="ml">Revenue scenario</span>
                        <div class="input-control ml">
                            <select name="view">
                                <option value="oil">
                                    <label class="check" for="oil">oil</label>
                                </option>
                                <option value="Segment">
                                    <label class="check" for="segment">Segment</label>
                                </option>
                            </select>
                        </div>
                        <button class="btn">Next</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</section>